@model MyAamdhani.Models.CategoryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Portfolio</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">portfolio</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->



    <!-- Our Project Start -->
<section class="portfolio-section portfolio-padding grid-portfolio ratio2_3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 bold text-center text-capitalize">
                <h3>@Model.Title</h3>
            </div>
        </div>
        <br/>
        <hr/>

        <div class="row  zoom-gallery">
            @foreach (var item in Model.CategoryItems)
            {
                <div class="isotopeSelector filter fashion col-lg-3 col-sm-6">
                    <div>
                        <div class="border-portfolio">
                            <a onclick="gotodetails(this)"  data-catID="@item.CategoryId" style="cursor: pointer">
                                <img src="@item.ImagePath"
                                     class="img-fluid blur-up lazyload bg-img">
                            </a>
                            <div class="text-center">
                                <strong class="details">@item.Name</strong>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
<script>
    function gotodetails(e) {
        var url = "../ShowProduct/ProductGallery/?catId=" + $(e).attr("data-catID");
        location.href = url;
    };
</script>
    <!-- Our Project End -->